<section>
	<a name="contact"></a>
	<div class="contact">
	
		<h4>Contact Me</h4>
		<h2>{{ site.contact-title }}</h2>
		
		<p>{{ site.contact-text }}</p>
		
		<form action="//formspree.io/ejhasken@gmail.com"
		      method="POST">
		    
		    <input type="text" name="name" placeholder="Your Name">
		    <input type="email" name="_replyto" placeholder="Your Email">
		    <textarea name="message" placeholder="Your Message"></textarea>
		    <input type="hidden" name="_next" value="ewouthasken.nl/#contact" />
		    <input id="gotcha" type="text" name="_gotcha" style="display:none" />
		    
		    <input type="submit" value="Send">
		</form>
	
	</div>

</section>
