<div id="interests">
	<section>
		<div class="interests">
			<div id="left">
					<div id="picto">{% include icons/book_blue.html %}</div>
					<p><span>History </span>has always fascinated me. Ever since I was little, I devoured history novels and comics. I am currently pursuing a PhD in Socio-Economic History. My interests especially focus on modern history and the influences of politics and ideology on mass society in Europe.</p>
			</div>
				
			<div id="center">
					<div id="picto">{% include icons/brush_blue.html %}</div>
					<p>I am a <span>creative</span> person. Not only am I able to think out of the box to solve problems, I am also a creative in other ways. I love to create things for example. Be it with my hands or with a computer I find it fulfilling to design and make something. Like this site!</p>
			</div>
				
			<div id="right">
					<div id="picto">{% include icons/vote_blue.html %}</div>
					<p><span>Politics </span>interest me greatly, from an academic as well as a citizen’s perspective. As a political scientist I have specialised in political theory and behaviour. But I also enjoy the practical side of politics. I have, for instance, been briefly active in politics as a deputy campaign manager.</p>
			</div>
		</div>
	</section>
</div>
