<div id="interests">
	<section>
		<div class="interests">
			<div id="left">
					<div id="picto">{% include icons/book.html %}</div>
					<p><span>{{ site.interests-left-keyword }} </span>{{ site.interests-left }}</p>
			</div>
				
			<div id="center">
					<div id="picto">{% include icons/brush.html %}</div>
					<p><span>{{ site.interests-center-keyword }} </span>{{ site.interests-center }}</p>
			</div>
				
			<div id="right">
					<div id="picto">{% include icons/vote.html %}</div>
					<p><span>{{ site.interests-right-keyword }} </span>{{ site.interests-right }}</p>
			</div>
		</div>
	</section>
</div>